@import "tailwindcss";

.fadeIn {
    animation: fadeInAnimation 0.15s ease-out;
}

.iconButton:focus {
    border: 0;
}

.trashButton {
    border-radius: 6px;
    padding: 1px;
}

.trashButton:hover {
    background-color: #eeeeee;
}

@keyframes fadeInAnimation {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}